# Node modules
node_modules/

# Logs
logs
*.log

# Dependency directory
npm-debug.log*

# Editor directories and files
.vscode/
.idea/
*.sublime-workspace
*.iml

# Environment variables
.env

# DynamoDB local database files (if using local DynamoDB)
.dynamodb/

# Operating System Files
.DS_Store
Thumbs.db
